<p><%= comment.content %> By: #User</p>
<p><%= link_to "Edit", edit_message_comment_path(@message, comment) %></p>
<p><%= link_to "Delete", message_comment_path(@message, comment), method: :delete, data: { confirm: "Are you sure ?" } %></p>