<h2>All Users</h2>
<%= link_to( "Add new user", {:controller => 'users', :action => 'new'} ) %>

<table>
	<tr>
		<th>User ID</th>
		<th>User Mail</th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<td><%= user.id %></td>
		<td><%= link_to( user.email, {:controller => 'users', :action => 'show', :id => user.id} ) %></td>
	</tr>
	<% end %>
</table>