<h2>Add new User</h2>

<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}, html: { multipart: true }) do |form| %>
	<%= render(:partial => "shared/user_form", :locals => {:form => form}) %>
<% end %>